#header{
    height: 100vh;
    background-image: url(/img/photo-1682686579688-c2ba945eda0e.avif);
    background-repeat: no-repeat;
    background-size: cover;
}
#main{
    height: 100vh;
}
.footer{
    height: 100vh;
    background-image: url("/img/photo-1685297965194-5eb9b8d51a05.avif");
    background-repeat: no-repeat;
    background-size: cover;
}
.ahmed{
    background-color: green;
}
.main-header{
    text-align: center;

}
.navigation-bar ul{
    display: flex;
    justify-content: space-around;
}
.navigation-bar >ul >li{
    border-left:  1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    list-style-type:none;
    padding: 10px;
}